table.editorTable .gwt-TextBox-FieldTagBox,
#tu_lAma_diff_viewer tag { color: @color !important; font-weight: bold; }
table.editorTable .gwt-TextBox-FieldIndicatorBox,
#tu_lAma_diff_viewer i1,
#tu_lAma_diff_viewer i2 { color: @indcolor !important; font-weight: bold; }
.hwt-highlights > mark { color: @subcolor !important; font-weight: bold; font-size: 97%; }
#tu_lAma_diff_viewer sf { color: @subcolor !important; font-weight: bold; }